/* Root Variables */
:root {
  --primary-text: #1f2937;
  --secondary-text: #6b7280;
  --primary-dark: #2e4568;
  --primary-hover: #4a6a9d;
  --gold-accent: #f49d37;
  --header-maroon: #800000;
  --neutral-gray: #d1d5db;
}

#root {
  width: 100%;
  background: linear-gradient(to bottom, #fffaf0, #ffffff);
}

image {
  border-radius: 50%;
  clip-path: circle(50%);
}

.rd3-node,
.rd3-leaf-node {
  font-weight: 400;
  font-family: "Merriweather", serif;
  font-size: 14px;
  color: var(--primary-text);
}

.tree {
  line-height: 1.5;
  transform: scale(0.95);
}

.card {
  background: linear-gradient(to bottom, #fffaf0, #ffffff);
  border: 1px solid var(--neutral-gray);
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

@media (max-width: 764px) {
  #root {
    overflow: auto;
  }

  .tree {
    transform: scale(0.6);
  }

  td {
    font-family: "Merriweather", serif;
    font-size: 14px;
    line-height: 1.5;
  }

  th,
  td {
    width: auto;
    white-space: nowrap;
  }

  td img {
    max-width: 40px;
    height: auto;
    vertical-align: middle;
  }

  .dropzone {
    border: 2px dashed var(--primary-dark);
    border-radius: 6px;
    padding: 16px;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(to right, #fffaf0, #ffffff);
    transition: background-color 0.3s ease;
  }

  .dropzone:hover {
    background-color: #f3e8d7;
  }

  .swal2-popup.custom-popup .swal2-title.custom-title {
    font-family: "Playfair Display", serif;
    font-size: 24px;
    color: var(--primary-text);
    font-weight: 600;
    margin-bottom: 12px;
    border-bottom: 2px solid var(--neutral-gray);
    padding-bottom: 8px;
  }

  .swal2-popup.custom-popup {
    background: linear-gradient(to bottom, #fffaf0, #ffffff);
    border-radius: 10px;
    padding: 20px;
    border: 2px solid var(--primary-dark);
  }
}

@media print {
  svg line {
    stroke-width: 1px;
    vector-effect: non-scaling-stroke;
  }

  button {
    display: none;
  }

  body {
    background: white;
  }
}
