#root {
  width: 100%;
}
image {
  border-radius: 50%;
  clip-path: circle(50%);
}
.rd3-node,.rd3-leaf-node{
  font-weight: 400;
  font-family:sans-serif
}

.tree{
  line-height: 1.5;
  transform: scale(0.95);
}
.card{
  background-color: darkolivegreen;
}
@media (max-width: 764px) {
  #root {
    overflow: scroll;
  }
  .tree {
    transform: scale(0.65);
  }
  
}
@media print {
  svg line {
    stroke-width: 1px !important;
    vector-effect: non-scaling-stroke;
  }
  button {
    display: none;
  }
  body {
    background: white !important;
  }
}
